.row
  .col-md-6.col-md-offset-3
    .panel.panel-default
      .panel-body
        .pull-right
          = link_to number_with_precision(@match.total_purse / @match.local_purse,
          precision: 2), root_path, class: 'btn btn-warning'
        %h2= @match.local_team.name
        .pull-right
          = link_to number_with_precision(@match.total_purse / @match.tie_purse,
          precision: 2), root_path, class: 'btn btn-warning'
        %h2 Empate
        .pull-right
          = link_to number_with_precision(@match.total_purse / @match.visitor_purse,
          precision: 2), root_path, class: 'btn btn-warning'
        %h2= @match.visitor_team.name

      .panel-footer
        .row
          .col-md-8
            %h4
              Kickoff
              = @match.kickoff
          .col-md-4
            .pull-right
              %h4
                Total Purse
                = @match.total_purse


%h1= @match.kickoff
