.row
  .col-md-6.col-md-offset-3
    .panel.panel-default
      .panel-body
        .row
          .col-md-2
            %img{ src: @match.local_team.image_url, class: 'small-image' }
          .col-md-8.vertical-center
            %h4
              = @match.local_team.name
          .col-md-2
            = link_to number_with_precision(@match.total_purse / @match.local_purse,
            precision: 2), root_path, class: 'btn btn-warning'
        .row
          .col-md-8.col-md-offset-2.vertical-center
            %h4 x
          .col-md-2
            = link_to number_with_precision(@match.total_purse / @match.tie_purse,
            precision: 2), root_path, class: 'btn btn-warning'
        .row
          .col-md-2
            %img{ src: @match.visitor_team.image_url, class: 'small-image' }
          .col-md-8.vertical-center
            %h4
              = @match.visitor_team.name
          .col-md-2
            = link_to number_with_precision(@match.total_purse / @match.visitor_purse,
            precision: 2), root_path, class: 'btn btn-warning'
        %p
          Kickoff
          = @match.kickoff
      .panel-footer
        .row
          .col-md-6
            .btn-group{"data-toggle" => "buttons"}
              %label.btn.btn-primary
                %input{:autocomplete => "off", :type => "checkbox"}/
                Local
              %label.btn.btn-primary
                %input{:autocomplete => "off", :type => "checkbox"}/
                Tie
              %label.btn.btn-primary
                %input{:autocomplete => "off", :type => "checkbox"}/
                Visitor
          .col-md-2
            %h4 Amount:
          .col-md-4
            %input.form-control{:placeholder => "$", :type => "text"}/
