.row
  .col-md-6.col-md-offset-3
    #matches.transitions-enabled
      - @matches.each do |match|
        .panel.panel-default
          .panel-body
            .row
              .col-md-2
                %img{ src: match.local_team.image_url, class: 'small-image' }
              .col-md-8.vertical-center
                %h4
                  = match.local_team.name
              .col-md-2
                = number_with_precision(match.total_purse / match.local_purse,
                precision: 2)
            .row
              .col-md-8.col-md-offset-2.vertical-center
                %p x
              .col-md-2
                = number_with_precision(match.total_purse / match.tie_purse,
                precision: 2)
            .row
              .col-md-2
                %img{ src: match.visitor_team.image_url, class: 'small-image' }
              .col-md-8.vertical-center
                %h4
                  = match.visitor_team.name
              .col-md-2
                = number_with_precision(match.total_purse / match.visitor_purse,
                precision: 2)
          .panel-footer
            - if user_signed_in?
              = link_to 'Echale', new_user_bet_path(user_id: current_user.id, match_id: match.id), class: 'btn btn-danger pull-right'
            - else
              = link_to 'Echale', new_user_session_path, class: 'btn btn-danger pull-right'
            %p= match.kickoff
